# Terraform plugins
.terraform/*
.terraform.lock.hcl

# Local tfsate if exist
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform.tfstate*

# Following Folder
env_variables/*
dev/*

# Local files
kubeconfig*
outputs.tf
